services:
  clickhouse:
    image: clickhouse/clickhouse-server:24.8
    container_name: clickhouse
    environment:
      CLICKHOUSE_DB: xrpl
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
      CLICKHOUSE_USER: katz
      CLICKHOUSE_PASSWORD: katz-password
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    ports:
      - "9000:9000"
      - "8123:8123"
    volumes:
      - clickhouse-data:/var/lib/clickhouse

      - ./clickhouse/config/limits.xml:/etc/clickhouse-server/config.d/limits.xml:ro

    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --user=katz --password=katz-password --query='SELECT 1'"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s

    cpus: "3.6"
    mem_limit: "6.5g"
    mem_reservation: "6g"

  clickhouse-init:
    image: clickhouse/clickhouse-server:24.8
    container_name: clickhouse-init
    depends_on:
      clickhouse:
        condition: service_healthy
    volumes:
      - ./clickhouse/ddl:/ddl:ro
    entrypoint: /bin/sh
    command: -c "for f in /ddl/*.sql; do echo Running $$f; clickhouse-client --host clickhouse --user=katz --password=katz-password --multiquery < $$f; done"
    restart: "no"

volumes:
  clickhouse-data:
    driver: local
